@import "mixins.less";

@namespace: finderator;
@z-index: 999999999;
@ease-bounce: cubic-bezier(0.165, 0.325, 0.445, 1.5);
@ease-in-out: cubic-bezier(0.675, 0.005, 0.350, 0.995);
@container-padding: 5px;

.@{namespace}-container {
    z-index: @z-index - 1;
    background-color: hsla(210, 25, 55%, .9);
    border-radius: 2px;
    overflow: hidden;
    position: fixed;
    left: 5px;
    bottom: 10px;
    max-height: 0;
    overflow: hidden;
    padding: 0 @container-padding;
    box-shadow: none;
    border: none;
    .transition(max-height .3s @ease-in-out, padding .3s @ease-in-out, box-shadow .3s @ease-in-out);

    &.@{namespace}-show {
        padding: @container-padding;
        max-height: 100px;

        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    .@{namespace}-input {
        width: 100px;
        margin: 0;
        padding: 5px;
        border: 0;
        background-color: hsla(0, 0, 100%, 0.5);
        outline: none;
    }

    .@{namespace}-info {
        display: inline-block;
        color: hsla(0, 0, 100%, 0.8);
        font-family: Verdana, Helvetica, Arial, sans-serif;
        margin: 0 @container-padding;
        font-size: medium;
        .transition(font-size .2s @ease-in-out);
        &:empty {
            margin: 0;
            font-size: 0;
        }
    }
}

.@{namespace}-search-result {
    z-index: @z-index;
    background-color: #FFFF00;
    text-decoration: none;
    border-radius: 3px;
    .transition(all .3s @ease-bounce);
    //.transform(scale(1) translate3d(0,0,0));

    .radar-effect .setup(50px);
    &.@{namespace}-selected {
        background-color: #FF9632;
        box-shadow: 0 0 0 2px #FF9632;
        // display: inline-block;
        //.transform(scale(1.3));

        .radar-effect .activate(.5s);
    }
}