@import "mixins.less";

body {
	min-width: 450px;
}
.hide {
    display: none;
}
kbd, label {
    padding: 5px 7px;
    &#current-shortcut {
        padding: 7px 12px;
        .transition(box-shadow .3s, border-bottom-color .3s;);
        &:hover, &.setting {
            box-shadow: 0 2px 5px rgba(0,0,0,0.3);
            border-bottom-color: #aaa;
        }
        &.setting {
            .pulse(#ccc, #777, .75s);
        }
        /*&:hover {
            &:before {
                content: 'Click to set'
            }
        }*/
    }
    background-color: #eee;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 3px;
    input[type='checkbox'] {
        margin: 0;
    }
}



.pulse-frames(@color1; @color2) {
    0% { border-color: @color1; }
    50% { border-color: @color2; }
    100% { border-color: @color1; }
}

.pulse(@color1; @color2; @timing: .5s) {
    @-webkit-keyframes pulse { .pulse-frames(@color1, @color2); }
    @-moz-keyframes pulse { .pulse-frames(@color1, @color2); }
    @-ms-keyframes pulse { .pulse-frames(@color1, @color2); }
    @keyframes pulse { .pulse-frames(@color1, @color2); }
    .animate(pulse @timing infinite);
}