.transition(@transition, @transition:X, ...) {
    @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    transition: @value;
}
.transform(@value) {
    -webkit-transform: @value;
    -moz-transform: @value;
    -ms-transform: @value;
    -o-transform: @value;
    transform: @value;
}
.animate(@value) {
    -webkit-animation: @value;
    -moz-animation: @value;
    -ms-animation: @value;
    -o-animation: @value;
    animation: @value;
}

.radar-effect() {
    .setup(@radar-size) {
        position: relative;
        &:before {
            z-index: -1;
            content: '';
            position: absolute;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: @radar-size;
            height: @radar-size;
            top: -(@radar-size/2);
            left: -(@radar-size/2);
            border: @radar-size/2 solid rgba(0,0,0,0);
            border-radius: @radar-size;
        }
    }
    .activate(@time) {
        &:before {
            .transition(all @time @ease-in-out);
            border-width: 0;
            border-color: rgba(0,0,0,0.6);
        }
    }
}